html {
  width: 100%;
  height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
  background-image: url('../images/mbg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}
input {
	padding-left: 10px;
}
.login {
  position: relative;
  width: 100%;
  height: 100%;
}
.login-title {
	position: absolute;
	top: 22%;
	left: 50%;
	width: 340px;
  height: 40px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  font-family: SimSun;
  text-align: center;
  box-sizing: border-box;
	transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%) ;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px 45px 40px 45px;
  width: 340px;
  height: 320px;
  box-sizing: border-box;
  border-radius: 4px;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%) ;
}
.login-box::before {
	position: absolute;
	top: 0;
  left: 0;
  z-index: -1;
  width: 340px;
  height: 340px;
  content: "";
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 0.9;
}


.login-box-title {
  margin-bottom: 20px;
}

.login-box-title p {
	font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  color: #3DA5FE;
}

.login-box-error {
	display: none;
	color: red;
	font-size: 14px;
	text-align: center;
}

.login-box-form {
  position: relative;
}

::-webkit-input-placeholder {
  color: #B0B0B0;
  padding-left: 6.4px;
}

:-moz-placeholder {/* Firefox 18- */
  color: #B0B0B0;
  padding-left: 6.4px;
}

::-moz-placeholder{/* Firefox 19+ */
  color: #B0B0B0;
  padding-left: 6.4px;
}

:-ms-input-placeholder {
  color: #B0B0B0;
  padding-left: 6.4px;
}

.box-form-account,
.box-form-password {
   display: block;
   margin-bottom: 2px;
}

.form-account {
  display: block;
  margin-bottom: 15px;
  width: 214px;
  height: 32px;
  border: .5px solid #D1D1D1;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
  outline:none;
}

.account-icon {
  width: 32px;
  height: 32px;
  border: .5px solid #D1D1D1;
  border-right-width: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #FAFAFA;
  background-image: url('../images/user.png');
  background-size: 17.7px 17.7px;
  background-position: 6.9px 7px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.form-password {
  display: block;
  width: 214px;
  height: 32px;
  border: .5px solid #D1D1D1;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
  outline:none;
}
.form-captcha{
  margin-top: 15px;
  width: 120px;
  height: 32px;
  border: .5px solid #D1D1D1;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-sizing: border-box;
  outline:none;
}
.password-icon {
  width: 32px;
  height: 32px;
  border: .5px solid #D1D1D1;
  border-right-width: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #FAFAFA;
  background-image: url('../images/pwd.png');
  background-size: 17.7px 17.7px;
  background-position: 6.9px 7px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.form-forgotPassword {
  position: absolute;
  right: -6px;
  top: 95px;
  font-size: 12px;
  line-height: 12px;
  color: #1D2E4D;
}

.form-forgotPassword, .form-submit:hover {
  cursor: pointer;
  background: #1E90FF;
}

.form-submit {
  margin-top: 26px;
  width: 250px;
  font-size: 14px;
  line-height: 36px;
  border: 0;
  border-radius: 2px;
  background-color: #4F9AF5;
  color: #fff;
  outline:none;
}
#captcha_img{
  height: 32px;
  width: 110px;
  margin-top: 15px;
  margin-left: 15px;
}
.fl { /*左浮动*/
  float: left;
}
.fr { /*右浮动*/
  float: right;
}
.clear { /*清除浮动*/
  clear: both;
}